# Ignore target directory (compiled classes and build output)
target/

# Keep Maven wrapper JAR and other Maven build directories under certain conditions
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore Spring Tool Suite (STS) specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA project files
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore environment variable files (.env)
.env
